<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384286876928-aseku6v5ru0jta3b3macravmupi2frfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384286876928-aseku6v5ru0jta3b3macravmupi2frfj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>384286876928-l58dna6kfb0vsbq0251c8it9pav0qoig.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEvz3ktS3Gdfm1uPptJLR98n3FNQefJMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>384286876928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.ashtonjones.streamChatWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>stream-chat-with-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>stream-chat-with-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384286876928:ios:5b04100a43d56b3f28ffe5</string>
	<key>DATABASE_URL</key>
	<string>https://stream-chat-with-firebase.firebaseio.com</string>
</dict>
</plist>